{% load static %}
<!DOCTYPE html>
<html lang="{%block html_lang%}pt-BR{%endblock%}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% block meta_description %}Acesso ao Table Forge{% endblock %}">
<link rel="stylesheet" href="{% static 'rpg_frontend/css/style.css' %}">
{% block full_title %}
<title>Table Forge - {% block title %}Acesso{% endblock %}</title>
{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<main>
<section class="{% block section_class %}{% endblock %}">
{% block content %}{% endblock %}
</section>
</main>
{% block scripts %}{% endblock %}
</body>
</html>
